:root{
  --base-blue:dodgerblue;
}
/* 초기 세팅 */
*,
*::before,
*::after {
  box-sizing: border-box;
}
.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: polygon(0 0, 0 0, 0 0);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body{
  font-size: 10px;
  background-color: #eee;
  position: relative;
  font-family: 'Noto Sans KR', sans-serif;
  padding: 0;
  margin: 0;
}
/* 등록 모달창 */
.modal-upload-layer {
  display: none;
  z-index: 10;
  top:0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  }
.modal-upload {
  padding: 20px;
  text-align: center;
  position: absolute;
  background-color: rgb(225, 229, 233);
  box-shadow: 0px 0px 20px 0px gray;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 600px;
  height: auto;
  border-radius: 20px;
}
.upload-description{
  float:left;
  margin: 30px 0;
  letter-spacing:5px;
  font-size: 1.4em;
  font-weight: 100;
  color: rgb(15, 15, 15);
  text-shadow: 2px 2px 2px rgb(146, 145, 145);  
}
.fa-paw{
  font-size: 1.2em;
  margin-right: 5px;
  color:black;
}
.upload-input-title {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 10px;
  border-radius: 5px;
  border: none;
  background-color: rgb(243, 240, 240);
}
.upload-textarea {
  width: 100%;
  height: 280px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgb(243, 240, 240);
  margin-bottom: 20px;
}
.upload-add-button {
  float: right;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 300ms;
}
.upload-add-button:hover{
  background-color: rgba(30, 143, 255, 0.781);
  color: #fff;
}

/* 세부내용section */
.detail{
  display: none;
  width: 60%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom:50px;
  background-color: rgb(248, 248, 248);
  box-shadow: 0px 0px 10px 0px rgb(197, 193, 193);
  border-radius: 10px;
  position: relative;
  text-align: center;
  padding: 20px;
  transition: all 300ms;

}

.detail-btn{
  background-color: transparent;
  border: none;  
  position: fixed;
  bottom: 40px;
  /* left: 50%;
  transform: translate3D(-50%,0,0); */
  height: 50px;
  cursor: pointer;
  outline: none;
  
}
.fa-chevron-up{
  left: 50%;
  transform: translate3D(-50%,0,0);
  font-size: 3.0em;
  transition: all 300ms;
  position: absolute;
  animation: glow 3s infinite;
}

@keyframes glow{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.3;
    transform: translate3d(-50%,15px,0);
  }
  
}
.fa-chevron-up:first-child{
  top: 10px;
}
.detail-btn:hover .fa-chevron-left{
  transform: scale(1.3);
}
.detail-img{
  box-shadow: 0px 0px 5px 0px gray;
  margin:50px 0;
  border-radius: 10px;
  width: 40vw;
  height: 400px;
}
/************ 스크롤 세부 모달창 ************/
.detail-input-title {
  display: none;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 10px;
  border-radius: 5px;
  border: none;
  background-color: rgb(243, 240, 240);
}
.detail-span-title {
  display: block;
  margin: 50px 0 0 0;
  font-size: 3.0em;
  font-weight: 600;
  letter-spacing: 5px;
}
.detail-span-date{
  margin-top: 15px;
  display: inline-block;
  font-size: 1.4em;
  padding: 0 10px;
}
.fa-calendar{
  display: inline-block;
  margin-right: 5px;
}
.detail-span-edited{
  margin-left: 15px;
  margin-top: 15px;
  display: inline-block;
  font-size: 1.4em;
  display: none; 
}
.fa-calendar-check{
  display: inline-block;
  margin-right: 5px;
}
.date-underline{
  display: inline-block;
  line-height: 1.1;
  margin-left: 5px;
  border-bottom: rgb(180, 179, 179) dashed 2px;
}
.detail-textarea {
  display: none;
  width: 100%;
  height: 280px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgb(243, 240, 240);
  margin-bottom: 20px;
}
.detail-span-textarea {
  display: inline-block;
  text-align: left;
  margin: 100px 0 100px 0;
  width: 80%;
  line-height: 2;
  font-size: 1.9em;
  height: 200px;
}
.buttons {
  display: flex;
  justify-content: flex-end;
}

.upload-add-button:hover{
  background-color: rgba(30, 143, 255, 0.781);
  color: #fff;
}
.detail-change-button {
  float: right;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 300ms;
}
.detail-cancel-button:hover,
.detail-confirm-button:hover,
.detail-change-button:hover{
  background-color: rgba(30, 143, 255, 0.781);
  color: #fff;
}

.buttons-confirm-cancel {
  display: none;
}
.detail-confirm-button{
  float: right;
  border: none;
  margin-left: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 300ms;
}
.detail-cancel-button{
  float: right;
  border: none;
  margin-left: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 300ms;
}
.detail-close{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2.2em;
  cursor: pointer;
}
.upload-close{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2.2em;
  cursor: pointer;
}

.main{
  position: relative;
  background-color: rgb(248, 248, 248);
  width: 60%;
  min-height: 90vh;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px rgb(197, 193, 193);
  margin: 50px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
/* transform: translateY(0%); */
/* transition: all 2s; */
}
.main-box{
  position: absolute;
  top: 150px;
  margin-bottom: 150px;
  width: 100%;
}
.main-title{
  font-size: 5.0em;
  color: var(--base-blue);
  letter-spacing: 3px;
  margin-bottom:10px;
  animation-name: titleAni;
  animation-duration: 1s;
  letter-spacing: 5px;
}
.main-description{
  letter-spacing: 3px;
  margin-bottom: 30px;
  font-size: 1.3em;
  animation-name: titleAni;
  animation-duration: 1.6s;
  letter-spacing: 5px;
}
@keyframes titleAni{
  0%{
      opacity: 0; 
      letter-spacing:-5px;
  }
  20%{
      opacity: 0; 
      letter-spacing:-5px;
  }
  100%{
      opacity: 1; 
      letter-spacing:5px;
  }
}
.main-input{
  padding: 0;
  width: 60%;
  height: 60px;
  border:1px solid #ccc;
  border-radius: 10px;
}
.main-submit{
  margin-left: 15px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: none;
  transition: all 300ms;
}
.main-submit:hover{
  transform: scale(1.1);
  color:whitesmoke;
  font-weight: 700;
  background-color: rgba(0,0,0,0.4);
}
.items-box{
  width: 100%;
  margin-top: 500px;
}
.main-items{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px;
  animation-name: titleAni;
  animation-duration: 2.6s;
}
.li-item{
  position: relative;
  width: 250px;
  height: 250px;
  list-style: none;
  margin: 10px 0;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px #ccc;
  transition: all 300ms;
  transform: scale(0.9);
  background-color: rgba(0,0,0, 0.7); 
  z-index: 1;
}
.li-item:hover{
  transform: scale(1.0);
  z-index: 10;
  cursor: pointer;
}
.item-close{
  opacity: 0;
  position: absolute;
  top: 20px;
  right: 10px;
  font-size: 2.5em;
  color: var(--base-blue);
  transition: all 300ms;
}
.li-item:hover .item-close{
  opacity: 1;
  cursor: pointer;
}
.li-date,
.li-title{
  display: block;
  position: absolute;
  top: 0;
  margin-bottom: 20px;
  font-size: 1.6em;
  letter-spacing: 3px;
  line-height: 2;
  font-weight: 700;
  color: white;
}
.li-date{
  top: 25%;
  left:50%;
  transform: translateX(-50px);
}
.li-title{
  top: 40%;
}
.li-item:hover .li-date,
.li-item:hover .li-title{
  z-index: -10;
}
.li-item img{
  opacity: 0.4;
  transition: all 300ms;
}
/* 없애면  호버했을때 이미지 안보임*/
.li-item:hover img{
  opacity: 1;
}
.li-item > img{
  width: 250px;
  height:250px;
  border-radius: 50%;
  display: block;
}
/* 반응형 */
@media screen and (max-width:870px){
.main{
  width: 100%;
  min-height: 100vh;
  border-radius: 0px;
  margin: 0;
  padding: 0;
}
input{
  margin: 0 auto;
  display: block;
  width: 100%;
  } 
.main-submit{
  margin-top: 15px;
  width: 15%;
  flex-direction: column;
  border-radius: 10px;
  line-height: 4.5;
  align-items: center;
  margin: 20px auto;
}
.box{
  width: 90%;
}
.detail{
  width: 100%;
  margin: 50px 0; 
  box-shadow: none;
  display: none;
}
.detail-img{
  width: 80%;
  }
}